.navbar {
    padding: 2rem ;
    background-color: #f5f6f7;
}
.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

.hero {
    background-color: #f5f6f7  ;
    min-height: 450px; /*Autoajuste para pantallas pequeñas*/
    text-align: center;

}

/*Estilos Generales*/

section{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.seccion-oscura { /*Color de la sección acerca de mi*/
    color: white;
    background-color: black;

}

.seccion-clara {

    color: black;
    background-color: white;


}


.seccion-titulo {
font-size: 2rem;
padding: 15px 0;
font-family: 'Rubik Dirt', cursive;
}

.seccion-texto { /*Fromato del texro de la seccion sobre mi*/
    font-size: 1.2rem;
}

h1 {
    font-size: 2.5rem; /*2.5 veces el elemento raiz*/
     /*Letra de Google*/
}
.hero-principal {
    padding:  3rem;

}

.imagen-desarrolador {

    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px;
    
    }
.hero-principal h2 { /*Establezco el formato de H2 en la seccion principal hero*/
font: 1.5 rem;
color: #7b1c1c
}

.sobre-mi {
    height: 500px;
    padding: 10px,;

}

.sobre-mi .contenedor {  /*Aplico formato a dos clases parte de la misma division*/
 max-width: 600px;
 text-align: center;
}

 .experiencia {
    padding: 40px;

 }

 .experiencia .row div { /*Todos los divs dentro de una fila y dentro de la seccion experiencia*/
    height: 250px;
    background-color: purple;
    border: 3px solid orangered;
 }


@media screen and (min-width: 700px) { /*Establezco el ancho maximo para pantallas pequeñas*/
    .hero-inferior-imagen {
        max-width: 600px;
    }
}

@media screen and (max-width: 767px) {
    .navbar-brand {
        display:  none;
    }
}
